<div class="main">
  <div class="main-news">
    <div class="main-new">
    <a href="/#"class="new-botan">トップへ戻る</a>
    </div>
    <div class="content-total">
    <%="Total収支 #{@onepayments.sum(:one_balance_of_payment).to_i}円"%>
    </div>
    
  </div>
  <div class="chart">
  <%= column_chart @onepayments.group_by_day(:created_at).sum(:one_balance_of_payment), width: "800px", height: "300px" %>
  </div>
  <div class="contents">
  <%@onepayments.each do |onepayment|%>
    <div class="content">
      <div class="content-days">
        <div class="content-month">
        <%=onepayment.month.name%>
        </div>      
        <div class="content-day">
        <%=onepayment.day.name%>
        </div>
      </div>
      <div class="payments">
      <%="#{onepayment.one_balance_of_payment}円"%>
      </div>
      <div class="three-btn">
        <div class="btn">
        <%= link_to '詳細', onepayment_path(onepayment.id), class: 'btn' %>
        </div>
        <div class="btn">
        <%= link_to '編集', edit_onepayment_path(onepayment.id), class: 'btn' %>
        </div>
        <div class="btn">
        <%= link_to '削除', onepayment_path(onepayment.id), class: 'btn',method: :delete %>
        </div>
      </div>
    </div>
    <% end %>
    

  </div>
</div>

	
