<div class="main">
  <div class="main-news">
    <div class="main-new">
    <a href="/onepayments/new"class="new-botan">新規作成</a>
    </div>

    
  </div>
  <div class="contents">
  <%@onepayments.each do |onepayment|%>
    <div class="content">
      <div class="content-days">
        <div class="content-month">
        <%=onepayment.month.name%>
        </div>      
        <div class="content-day">
        <%=onepayment.day.name %>
        </div>
        <div class="content-nickname">
        <a href="/users/<%= onepayment.user_id %>" class="nickname">
        <%=onepayment.user.nickname %>
        </a>
        </div>
      </div>
      <div class="payments">
      <%="#{onepayment.one_balance_of_payment}円"%>
      </div>
      <div class="three-btn">
        <div class="btn">
        <%= link_to '詳細', onepayment_path(onepayment.id),  id:'btn',class: 'btn' %>
        </div>
        <%if user_signed_in?&&current_user.id==onepayment.user_id%>
        <div class="btn">
        <%= link_to '編集', edit_onepayment_path(onepayment.id),  id:'btn',class: 'btn' %>
        </div>
        <div class="btn">
        <%= link_to '削除', onepayment_path(onepayment.id), id:'btn',class: 'btn',method: :delete %>
        </div>
        <%end%>
      </div>
    </div>
    <% end %>

  </div>
</div>


