<!DOCTYPE html>
<html>
  <head>
    <title>SlotPayment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header">
    <h1 class="header-name">Slot Payment</h1>
      <div class="header-users">
      <%if user_signed_in?%>
      <div>
        <li><%= link_to current_user.nickname, '/#', class: "header-user" %></li>
        </div>
        <div>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-user" %></li>
        </div>
        <%else%>
        <div>
        <li><%= link_to 'ログイン', new_user_session_path, class: "header-user" %></li>
        </div>
        <div>
        <li><%= link_to '新規登録', new_user_registration_path, class: "header-user" %></li>
        </div>
        <%end%>
      </div>
      <!--ログインしている時の表示
      <div class="header-users">
        <div>ユーザー名</div>
        <div>ログアウト</div>
      </ul>-->
  </div>
</header>
    <%= yield %>
    <footer>
  <div class="footer-logo">
  --slot Payment--
  </div>
</footer>
  </body>
</html>