<!DOCTYPE html>
<html>
  <head>
    <title>SlotPayment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header">
    <h1 class="header-name">Slot Payment</h1>
      <div class="header-users">
        <div>
        <a href="/#" class="header-user">ログイン</a>
        </div>
        <div>
        <a href="/#" class="header-user">新規登録</a>
        </div>
      </div>
      <!--ログインしている時の表示
      <div class="header-users">
        <div>ユーザー名</div>
        <div>ログアウト</div>
      </ul>-->
  </div>
</header>
    <%= yield %>
    <footer>
  <div class="footer-logo">
  --slot Payment--
  </div>
</footer>
  </body>
</html>
